<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add
      name="Banco"
      connectionString="Server=localhost;Database=aula_08b;Uid=root;Pwd=root"
      providerName="MySql.Data.MySqlClient"
      />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
